.cards.cards--row2.block
  .block__head
    .block__title Аудит бизнес-процессов
  .block__items
    each i in ['Организационный аудит', 'Функциональный аудит', 'Аудит корпоративной культуры', 'Digital-опросы', 'Привлечение экспертов по<br/>отраслям', 'Интервью ключевых<br/>стейкхолдеров', 'Выявление узких мест', 'Определение зон развития и оптимизации']
      .block__item.cards__item
        .cards__card.cards__card--gray: .cards__content
          .cards__head !{i}
          .cards__icon: img(src='https://placehold.jp/40x40.png')

.cards.block
  .block__head
    .block__title Услуги
  .block__items
    each i in ['Разработка HR-стратегии', 'Разработка CFO-стратегии и стратегии по другим бизнес-направлениям', 'Привлечение экспертов для формирования стратегии по другим бизнес-направлениям']
      .block__item.cards__item
        .cards__card: .cards__content
          .cards__head !{i}
          .cards__icon: img(src='https://placehold.jp/40x40.png')

.cards.block
  .block__head
    .block__title Инструменты организационного менеджмента
  .block__items
    each i in ['Инструменты оргменеджмента', 'Оптимальная система управления проектами', 'Система управления изменениями', 'Матрица ответственности','Хронометраж функций','Штатное расписание','Унификация должностей','Грейдирование должностей','Должностные инструкции','Стандарты и алгоритмы работы','Модель корпоративных компетенций','Профиль должности','Система мотивации и оценки эффективности','Система контроля и отчетности','Аналитический центр']
      .block__item.cards__item
        .cards__card: .cards__content
          .cards__head !{i}
          .cards__icon: img(src='https://placehold.jp/40x40.png')
    each i in ['Цифровая библиотека документов по компании','Цифровая база знаний по каждой профессии','Цифровой профиль должности']
      .block__item.cards__item
        .cards__card.cards__card--green: .cards__content
          .cards__head !{i}
          .cards__icon: img(src='https://placehold.jp/40x40.png')

.cards.block.cards--row2
  .block__head
    .block__title Подбор и оценка персонала
  .block__items
    each i in ['Подбор руководителей и специалистов', 'Полная комплектация предприятия', 'Цифровая оценка кандидата', 'Оценка профессиональных компетенций', 'Оценка управленческих компетенций', 'Оценка личностных компетенций', 'Оценка потенциала', 'Ассессмент-центр']
      .block__item.cards__item
        .cards__card.cards__card--gray: .cards__content
          .cards__head !{i}
          .cards__icon: img(src='https://placehold.jp/40x40.png')

.cards.block.cards--row2
  .block__head
    .block__title Инструменты адаптации
  .block__items
    each i in ['Цифровой План работ на испытательный срок','Вводные электронные Welcome-курсы о компании','Профессиональные электронные курсы для ввода в должность','Система наставничества','Оценка выполнения Плана работ на испытательный срок','Оценка эффективности KPI по итогам испытательного срока','Оценка компетенций 360° по итогам испытательного срока','Оценка уровня удовлетворенности<br/>сотрудников']
      .block__item.cards__item
        .cards__card.cards__card--gray: .cards__content
          .cards__head !{i}
          .cards__icon.cards__icon--bottom: img(src='https://placehold.jp/40x40.png')

.cards.block
  .block__head
    .block__title Инструменты комплексной цифровой оценки
  .block__items
    each i in ['Оценка показателей эффективности KPI, MBO, OKR','Оценка корпоративных компетенций 360','Оценка личностных компетенций','Оценка профессиональных компетенций','Оценка управленческих компетенций','Оценка потенциала сотрудника','Digital ассессмент-центр','Оценка качества внутреннего сервиса','Оценка мотивационных<br/>факторов eNPS','Оценка потребительской лояльности NPS','Рейтинги персонала по итогам комплексной оценки','Рейтинг на внутренний<br/>кадровый резерв HIPO']
      .block__item.cards__item
        .cards__card.cards__card--green: .cards__content
          .cards__head !{i}
          .cards__icon.cards__icon--bottom: img(src='https://placehold.jp/40x40.png')

.cards.block.block--gray
  .c
    .block__head
      .block__title Перечень опросов по аудиту
    .block__items
      each i in ['Аудит организационный','Аудит функциональный','Аудит уровня удовлетворенности']
        .block__item.cards__item
          .cards__card
            div
              .cards__head !{i}
              .cards__text
                ul
                  li Оценка управления предприятием
                  li Оценка проектной деятельности
                  li Оценка профиля должности в системе управления
                  li Хронометраж рабочего времени

